# =========================
#  Node / JS
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# =========================
#  Expo
# =========================
.expo/
.expo-shared/

# =========================
#  Environment (секреты)
# =========================
.env
.env.*
!.env.example

# =========================
#  Build (общие)
# =========================
dist/
build/
bin/

# =========================
#  Android
# =========================
android/build/
android/app/build/
android/.cxx/
android/.externalNativeBuild/

# локальные настройки SDK
android/local.properties

# ключи подписи (КРИТИЧНО)
*.keystore
*.jks

# =========================
#  Gradle
# =========================
.gradle/

# =========================
#  IDE / Editor
# =========================
.idea/
.vscode/

# =========================
#  System files
# =========================
.DS_Store
Thumbs.db

# =========================
#  Misc
# =========================
*.swp
*.tmp

# =========================
#  Optional (если используешь)
# =========================
# coverage/
# *.iml
